*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
          /* start nav bar*/
div.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 70%;
    left: 13.5%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    border-radius: 20px;
    z-index: 999;

}

div.nav-bar div a{
    text-decoration: none;
    color: rgb(239, 239, 239);
}
div.nav-bar div.rsd-nav-bar a{
    padding: 1.1rem;
}
div.nav-bar div.rsd-nav-bar a:hover{
    background-color: #ffc107;
    border-radius:10px ;
}
    /* end nav bar*/

    /*start home section*/
section.home-section{
    background-image: url(./assets/home-section.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    min-height:100vh ;
}
section.home-section>div.center-caption *{
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5%;
    
}
div.center-caption{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
section.home-section h1{

    font-size: 2rem;
    margin-top: 14%;
    margin-bottom: 50px;
}
section.home-section h2{
 
    letter-spacing: 3px;
    font-size: 4rem;
}
span.firstL{
    display:inline-block;
}

span.firstL::first-letter{
    color:#ffc107 ;
    font-weight: bold;
}
p.home-phrase{
 
    margin: 20px;
    letter-spacing: 1.2rem;
    text-transform: capitalize;
}

.home-two-btn{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.home-two-btn a,.about-me>a{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 15px 15px 0px ;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 1.8rem;
    margin-right: 1.2rem;
    transition: ease 0.5s;
    font-size: 1.2rem;
}

.home-two-btn a:hover{
    background-color: transparent;
    color:  #ffc107;
}

    /*end home section*/

    /*start project section*/
.project-section{
        background-color: white;
        min-height: 100vh;;
        position: relative;
}
.heading-project{
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    align-items: center;
    flex-direction: column;
}
h2{
    margin-top: 1.8rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 2%;

}
.heading-project>p{
    font-size: 1.3rem;
    font-weight: 400;

}
.technologies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}
.technologies img{
    width: 18%;
    margin: 5%;
}
div.projets{
    width: 100%;
}
.projects .content
{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
}
.project-card{
    min-height: 14em;
    overflow: hidden;
    background-color: #fff;
    border: solid 2px #fff;
    border-radius: 10px;
    width: 23em;
    margin: 0 3% 4%;
    transition: 0.7s ease;
    box-shadow: 0 5px 25px rgba(22, 22, 22, 0.555);
}
div.project-card>div.project-desc{
    width: 100%;
    padding: 5%;
}
div.project-card>div.project-desc>p{
    margin: 3%;
    font-size: 1.3rem;
    font-weight: 600;
}
div.project-card>div.project-desc>strong.project-info{
    margin: 3% 0px 0px 6%;
}
div.project-card>div.project-img>img{
    width: 100%;
}
.project-card:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 30px #ffc107;
}
strong.project-info>a{
    margin-left: 25%;
    text-decoration: none;

}
   /*end project section*/
   /*start aboutme section*/
.container{
    display: flex;
    margin: 7% 0;
    box-shadow: 0 5px 25px rgba(22, 22, 22, 0.555);
    padding: 2%;
}
.myphoto{
    text-align: center;
    padding: 1%;
   max-height: 90vh;
}
.myphoto>img{
    width: 90%;
    margin-left: 70%;
}

.container>div.about-me{
    width: 30%;
    margin-left: 25%;
    margin-top: 3%;
}
.container>div.about-me h3{
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    font-weight: 800;
}
.container>div.about-me p{
    line-height: 150%;
    margin-bottom:6%;
}
   /*end aboutme section*/
    /*start Feedback section*/
section.Feedback{
    width: 100%;
    background-color: #c4b7ec;
    height: 100vh;
    margin-top: 10%;
}
section.Feedback>h2{
    padding-top: 10%;
}
div.cards{
    padding: 2%;
    margin: 5% 2% 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 30px black;
    border-radius: 15px;
    transition: ease 0.5s;
}
div.cards:hover{
    transform: scale(1.1);
}
div.cards img{
    width: 30%;
    margin-bottom: 7%;
}
div.cards h5{
    text-align: center;
}
div.cards>h5 span{
    margin-top: 5%;
    display: inline-block;
    color: rgb(3, 73, 97);
}
div.main-content{
    display: flex;
    justify-content: center;
}
    /*end Feedback section*/
    /*Start Contact Section>*/
.Contact{
    width: 100%;
    height: 100vh;
}
.Contact>h2{
    margin: 7%;
}
form{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    margin: 3% 0 3% 20%;
}
input{
    /*margin: 5% 5% 5% 0;*/
    border-radius:30px ;
    width: 70%;
    padding: 20px;
    margin: 5px;
}
.message{
    width: 70%;
    height: 30vh;
}
.btn_on-hover{
    width: 10%;
    background-color:rgb(13, 13, 40);
    color: white;
    border: transparent;
}
.btn_on-hover:hover{
    background-color: green;
}
.social-icons{
    margin: 2% 3% 0 0;
}
.social-icons a{
    transform: scale(1.1);
}
footer{
    background-color: rgb(13, 13, 40);
    display: flex;
    justify-content: space-between;
    min-height: 4em;
}
    /*End Footer Section>*/
.Fixed-arrow{
    width: 3%;
    margin: 2%;
    margin-bottom: 6%;
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.scroll-to-top:hover {
    background-color: #555;
}







/*------------------------------*/

